Repository BTCEnoch/Protozoa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, pwsh -Command 'Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer '

🚀 Initial commit: Complete new-protozoa automation package
  .deployment-info
  .env-setup-complete
  TYPESCRIPT-FIXES-SUMMARY.md
  fixit.md
  package.json
  scripts/02-GenerateDomainStubs.ps1
  scripts/18-GenerateFormationDomain.ps1
  scripts/23-GenerateRNGService.ps1
  scripts/24-GeneratePhysicsService.ps1
  scripts/25-SetupPhysicsWebWorkers.ps1
  scripts/57-FixCriticalTypeScriptIssues.ps1
  scripts/runAll.ps1
  src/domains/animation/index.ts
  src/domains/bitcoin/index.ts
  src/domains/effect/index.ts
  src/domains/formation/index.ts
  src/domains/group/index.ts
  src/domains/particle/index.ts
  src/domains/physics/index.ts
  src/domains/rendering/index.ts
  src/domains/rng/index.ts
  src/domains/trait/index.ts
  templates/domains/group/services/swarmService.ts.template
  templates/domains/rendering/services/renderingService.ts.template
Due: eslint --fix, prettier --write, pwsh -Command 'Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer '

🚀 Initial commit: Complete new-protozoa automation package
  .deployment-info
  .env-setup-complete
  TYPESCRIPT-FIXES-SUMMARY.md
  scripts/01-ScaffoldProjectStructure.ps1
  scripts/02-GenerateDomainStubs.ps1
  scripts/25-SetupPhysicsWebWorkers.ps1
  scripts/31-GenerateParticleService.ps1
  src/domains/animation/index.ts
  src/domains/bitcoin/index.ts
  src/domains/effect/index.ts
  src/domains/formation/index.ts
  src/domains/formation/types/index.ts
  src/domains/group/index.ts
  src/domains/particle/index.ts
  src/domains/particle/types/index.ts
  src/domains/physics/index.ts
  src/domains/rendering/index.ts
  src/domains/rng/index.ts
  src/domains/trait/index.ts
  src/shared/types/configTypes.ts
  src/shared/types/entityTypes.ts
  src/shared/types/eventTypes.ts
  src/shared/types/index.ts
  src/shared/types/loggingTypes.ts
  templates/domains/particle/services/lifecycleEngine.ts.template
Due: eslint --fix, prettier --write, pwsh -Command 'Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer '

🚀 Initial commit: Complete new-protozoa automation package
  .deployment-info
  .env-setup-complete
  TYPESCRIPT-FIXES-SUMMARY.md
  scripts/16-GenerateSharedTypesService.ps1
  templates/shared/interfaces/IPersistenceService.ts.template
  templates/shared/services/eventBus.ts.template
  templates/shared/services/performanceRegressionService.ts.template
  templates/shared/services/persistenceService.ts.template
Due: prettier --write, pwsh -Command 'Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer '

Refactor RNG and Physics domain generation scripts to use templates
  scripts/23-GenerateRNGService.ps1
  scripts/24-GeneratePhysicsService.ps1
  templates/domains/physics/interfaces/IPhysicsService.ts.template
  templates/domains/physics/services/PhysicsService.ts.template
  templates/domains/physics/types/physics.types.ts.template
  templates/domains/physics/workers/physicsWorker.ts.template
  templates/domains/rng/interfaces/IRNGService.ts.template
  templates/domains/rng/services/RNGService.ts.template
  templates/domains/rng/types/rng.types.ts.template
Due: pwsh -Command 'Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer '

Refactor environment config generation with template-based approach
  scripts/17-GenerateEnvironmentConfig.ps1
  templates/shared/config/envUtils.ts.template
  templates/shared/config/environmentService.ts.template
  templates/shared/lib/logger.ts.template
Due: pwsh -Command 'Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer '

Refactor shared types generation to use templates, simplify script
  scripts/16-GenerateSharedTypesService.ps1
  templates/shared/types/configTypes.ts.template
  templates/shared/types/entityTypes.ts.template
  templates/shared/types/eventTypes.ts.template
  templates/shared/types/index.ts.template
  templates/shared/types/loggingTypes.ts.template
  templates/shared/types/vectorTypes.ts.template
Due: pwsh -Command 'Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer '

Refactor dev environment config to use template files for consistency
  scripts/21-ConfigureDevEnvironment.ps1
  templates/.editorconfig.template
  templates/.eslintrc.json.template
  templates/.prettierrc.template
Due: pwsh -Command 'Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer '

Scaffold project structure with base dirs, domains, and root template files
  scripts/01-ScaffoldProjectStructure.ps1
  templates/tsconfig.app.json.template
  templates/tsconfig.json.template
  templates/tsconfig.node.json.template
  templates/vite.config.ts.template
  templates/vitest.config.ts.template
Due: pwsh -Command 'Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer '

Refactor group domain generation script to consolidate template copying
  scripts/41-GenerateGroupService.ps1
Due: pwsh -Command 'Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer '

Refactor formation blending service with simplified template-based generation
  scripts/11-GenerateFormationBlendingService.ps1
  templates/domains/formation/interfaces/IFormationBlendingService.ts.template
  templates/domains/formation/services/formationBlendingService.ts.template
Due: pwsh -Command 'Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer '

Refactor particle init service with template-based generation
  scripts/10-GenerateParticleInitService.ps1
  templates/domains/particle/interfaces/IParticleInitService.ts.template
  templates/domains/particle/services/particleInitService.ts.template
Due: pwsh -Command 'Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer '

Refactor Bitcoin protocol setup with simplified config templates
  scripts/22-SetupBitcoinProtocol.ps1
  templates/config/bitcoin.config.ts.template
  templates/config/rate-limiter.ts.template
Due: pwsh -Command 'Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer '

Simplify physics web worker setup script with template copy
  scripts/25-SetupPhysicsWebWorkers.ps1
Due: pwsh -Command 'Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer '

Add domain exports template for __DOMAIN__ domain
  templates/domains/_domain/index.ts.template
Due: none

Refactor utility scripts to use template-based generation approach
  scripts/14-FixUtilityFunctions.ps1
  scripts/29-SetupDataValidationLayer.ps1
  scripts/34-EnhanceFormationSystem.ps1
  templates/domains/formation/services/formationEnhancer.ts.template
  templates/shared/utils/fixHelpers.ts.template
  templates/shared/utils/validation.utils.ts.template
Due: pwsh -Command 'Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer '

Add group service implementation with swarm and formation capabilities
  scripts/41a-CompleteGroupInterface.ps1
  scripts/41b-GenerateGroupServiceImpl.ps1
  scripts/41c-CompleteGroupServiceMethods.ps1
  scripts/41d-FinalizeGroupService.ps1
  scripts/99-ValidateTemplates.ps1
  templates/README.md.template
  templates/package.json.template
Due: pwsh -Command 'Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer '

Add logging transcript and progress bar to automation pipeline script
  scripts/runAll.ps1
Due: pwsh -Command 'Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer '

Refactor runAll.ps1 with streamlined script sequence and improved logging
  scripts/runAll.ps1
Due: pwsh -Command 'Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer '

🚀 Initial commit: Complete new-protozoa automation package
  .deployment-info
  .editorconfig
  .env-setup-complete
  .eslintrc.json
  .prettierrc
  OVERSIZE_FILES_REPORT.md
  src/domains/formation/data/formationGeometry.ts
  src/domains/formation/data/formationPatterns.ts
  src/domains/formation/index.ts
  src/domains/formation/interfaces/IFormationService.ts
  src/domains/formation/services/FormationService.ts
  src/domains/formation/services/dynamicFormationGenerator.ts
  src/domains/formation/types/IFormationService.ts
  src/shared/config/envUtils.ts
  src/shared/config/environmentService.ts
  src/shared/lib/logger.ts
  src/shared/lib/logger.ts.backup-20250620-202653
  src/shared/types/configTypes.ts.template
  src/shared/types/entityTypes.ts.template
  src/shared/types/eventTypes.ts.template
  src/shared/types/index.ts.template
  src/shared/types/loggingTypes.ts.template
  src/shared/types/vectorTypes.ts.template
  src/shared/utils/fixHelpers.ts
  src/types/bitcoin-ordinals.d.ts
Due: eslint --fix, prettier --write

🚀 Initial commit: Complete new-protozoa automation package
  .deployment-info
  .env-setup-complete
  .env-setup-failed
  OVERSIZE_FILES_REPORT.md
  TYPESCRIPT-FIXES-SUMMARY.md
  package-lock.json
  package.json
  pnpm-lock.yaml
  scripts/16-GenerateSharedTypesService.ps1
  src/domains/formation/data/formationGeometry.ts
  src/domains/formation/data/formationPatterns.ts
  src/domains/formation/index.ts
  src/domains/formation/interfaces/IFormationService.ts
  src/domains/formation/services/FormationService.ts
  src/domains/formation/services/dynamicFormationGenerator.ts
  src/domains/formation/types/IFormationService.ts
  src/shared/config/envUtils.ts
  src/shared/config/environmentService.ts
  src/shared/lib/logger.ts
  src/shared/lib/logger.ts.backup-20250620-202653
  src/shared/types/configTypes.ts.template
  src/shared/types/entityTypes.ts.template
  src/shared/types/eventTypes.ts.template
  src/shared/types/index.ts.template
  src/shared/types/loggingTypes.ts.template
  src/shared/types/vectorTypes.ts.template
  src/shared/utils/fixHelpers.ts
  src/types/bitcoin-ordinals.d.ts
  templates/domains/particle/services/ParticleService.ts.template
  templates/domains/particle/services/lifecycleEngine.ts.template
Due: eslint --fix, prettier --write, pwsh -Command 'Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer '

Add architecture gap analysis document for Protozoa project
  Protozoa/docs/deepdive/architecture-gap-analysis.md
Due: prettier --write

Add implementation specs and script templates for project automation
  Protozoa/docs/deepdive/implementation-specs.md
  Protozoa/templates/scripts/04-GenerateThemeCSS.ps1.template
  Protozoa/templates/scripts/07-SmartMemoryAndWorkers.ps1.template
  Protozoa/templates/scripts/12-GenerateParticleInitService.ps1.template
  Protozoa/templates/scripts/18-ImplementEvolutionEngine.ps1.template
  Protozoa/templates/scripts/23-GenerateFormationService.ps1.template
  Protozoa/templates/scripts/29-SetupOpenTelemetry.ps1.template
  Protozoa/templates/scripts/33-GenerateStores.ps1.template
  Protozoa/templates/scripts/41-SetupR3FIntegration.ps1.template
  Protozoa/templates/scripts/54-SetupPerformanceBenchmarks.ps1.template
  Protozoa/templates/scripts/60-VerifyWorkerDisposal.ps1.template
  Protozoa/templates/scripts/72-GenerateCIConfig.ps1.template
Due: prettier --write

🚀 Initial commit: Complete new-protozoa automation package
  .deployment-info
  .env-setup-complete
  OVERSIZE_FILES_REPORT.md
  scripts/04a-GenerateThemeCSS.ps1
  scripts/10a-EnhanceParticleInitService.ps1
  src/domains/formation/data/formationGeometry.ts
  src/domains/formation/data/formationPatterns.ts
  src/domains/formation/index.ts
  src/domains/formation/interfaces/IFormationService.ts
  src/domains/formation/services/FormationService.ts
  src/domains/formation/services/dynamicFormationGenerator.ts
  src/domains/formation/types/IFormationService.ts
  src/domains/particle/index.ts
  src/domains/particle/interfaces/IParticleInitService.ts
  src/domains/particle/services/particleInitService.ts
  src/domains/particle/types/particle.types.ts
  src/shared/config/envUtils.ts
  src/shared/config/environmentService.ts
  src/shared/lib/logger.ts
  src/shared/types/configTypes.ts
  src/shared/types/entityTypes.ts
  src/shared/types/eventTypes.ts
  src/shared/types/index.ts
  src/shared/types/loggingTypes.ts
  src/shared/types/vectorTypes.ts
Due: eslint --fix, prettier --write, pwsh -Command 'Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer '

🚀 Initial commit: Complete new-protozoa automation package
  .deployment-info
  .husky/pre-commit
  backup/20250621_172336/IParticleInitService.ts
  backup/20250621_172336/particle.types.ts
  backup/20250621_172336/particleInitService.ts
  backup/bitcoin_retry_20250621_172340/BitcoinService.ts
  backup/bitcoin_retry_20250621_172340/bitcoin.config.ts
  backup/bitcoin_retry_20250621_172340/rate-limiter.ts
  backup/formation_20250621_172338/FormationService.ts
  backup/formation_20250621_172338/IFormationBlendingService.ts
  backup/formation_20250621_172338/IFormationService.ts
  backup/formation_20250621_172338/dynamicFormationGenerator.ts
  backup/formation_20250621_172338/formationBlendingService.ts
  backup/formation_20250621_172338/formationEnhancer.ts
  scripts/26a-EnhanceBitcoinServiceRetry.ps1
Due: eslint --fix, prettier --write, pwsh -Command 'Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer '

[DEPLOY] Initial commit: Complete new-protozoa automation package
  .deployment-info
  backup/20250621_204806/IParticleInitService.ts
  backup/20250621_204806/particle.types.ts
  backup/20250621_204806/particleInitService.ts
  backup/bitcoin_retry_20250621_204811/BitcoinService.ts
  backup/bitcoin_retry_20250621_204811/bitcoin.config.ts
  backup/bitcoin_retry_20250621_204811/rate-limiter.ts
  backup/formation_20250621_204808/FormationService.ts
  backup/formation_20250621_204808/IFormationBlendingService.ts
  backup/formation_20250621_204808/IFormationService.ts
  backup/formation_20250621_204808/dynamicFormationGenerator.ts
  backup/formation_20250621_204808/formationBlendingService.ts
  backup/formation_20250621_204808/formationEnhancer.ts
  scripts/29a-SetupOpenTelemetry.ps1
  src/domains/bitcoin/services/blockStreamService.ts
  src/shared/utils/validation.utils.ts
Due: eslint --fix, prettier --write, pwsh -Command 'Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer '

Path conditions:
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md,yml,yaml})
  pwsh -Command 'Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer ': any of: *.ps1
