Repository BTCEnoch/Protozoa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, pwsh -Command 'Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer '

.lintstagedrc.json:

{
    "*.{ts,tsx}":  [
                       "eslint --fix",
                       "prettier --write",
                       "git add"
                   ],
    "*.{js,jsx}":  [
                       "eslint --fix",
                       "prettier --write",
                       "git add"
                   ],
    "*.ps1":  [
                  "pwsh -Command \u0027Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer \u0027"
              ],
    "*.{json,md,yml,yaml}":  [
                                 "prettier --write",
                                 "git add"
                             ]
}

Enhance testing framework and trait system with template validation
  scripts/18b-SetupTestingFramework.ps1
  scripts/30-EnhanceTraitSystem.ps1
  scripts/utils.psm1
Due: pwsh -Command 'Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer '

Refactor HERE-STRING parsing script to handle content conversion robustly
  scripts/fix-content-parsing.ps1
Due: pwsh -Command 'Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer '

Add script to convert PowerShell here-strings and new npm script
  package.json
  scripts/convert-here-strings.mjs
Due: prettier --write

Refactor: Update script generation with single quotes and string escaping
  scripts/02-GenerateDomainStubs.ps1
  scripts/10-GenerateParticleInitService.ps1
  scripts/11-GenerateFormationBlendingService.ps1
  scripts/14-FixUtilityFunctions.ps1
  scripts/16-GenerateSharedTypesService.ps1
  scripts/18-GenerateFormationDomain.ps1
  scripts/18b-SetupTestingFramework.ps1
  scripts/19-ConfigureAdvancedTypeScript.ps1
  scripts/20-SetupPreCommitValidation.ps1
  scripts/21-ConfigureDevEnvironment.ps1
  scripts/22-SetupBitcoinProtocol.ps1
  scripts/23-GenerateRNGService.ps1
  scripts/24-GeneratePhysicsService.ps1
  scripts/25-SetupPhysicsWebWorkers.ps1
  scripts/26-GenerateBitcoinService.ps1
  scripts/27-GenerateTraitService.ps1
  scripts/28-SetupBlockchainDataIntegration.ps1
  scripts/31-GenerateParticleService.ps1
  scripts/48-SetupAdvancedBundleAnalysis.ps1
  scripts/54-SetupPerformanceTesting.ps1
Due: pwsh -Command 'Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer '

Fix whitespace in log messages for formation blending service script
  scripts/11-GenerateFormationBlendingService.ps1
Due: pwsh -Command 'Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer '

Fix linter comment in particle init service script
  scripts/10-GenerateParticleInitService.ps1
Due: pwsh -Command 'Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer '

Fix linter warning and whitespace in particle init service script
  scripts/10-GenerateParticleInitService.ps1
Due: pwsh -Command 'Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer '

Fix whitespace in runAll.ps1 log message
  scripts/runAll.ps1
Due: pwsh -Command 'Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer '

🚀 Initial commit: Complete new-protozoa automation package
  .deployment-info
  .env-setup-complete
Due: none

🚀 Initial commit: Complete new-protozoa automation package
  scripts/08-DeployToGitHub.ps1
Due: pwsh -Command 'Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer '

🚀 Initial commit: Complete new-protozoa automation package
  .deployment-info
  .env-setup-complete
  .husky/pre-commit
  scripts/utils.psm1
Due: none

🚀 Initial commit: Complete new-protozoa automation package
  .deployment-info
  .env-setup-complete
  scripts/14-FixUtilityFunctions.ps1
  scripts/15-ValidateSetupComplete.ps1
  scripts/16-GenerateSharedTypesService.ps1
  scripts/17-GenerateEnvironmentConfig.ps1
  scripts/18a-SetupLoggingService.ps1
  src/shared/config/envUtils.ts
  src/shared/config/environmentService.ts
  src/shared/config/index.ts
  src/shared/types/configTypes.ts
  src/shared/types/entityTypes.ts
  src/shared/types/eventTypes.ts
  src/shared/types/loggingTypes.ts
  src/shared/types/vectorTypes.ts
Due: eslint --fix, prettier --write, pwsh -Command 'Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer '

🚀 Initial commit: Complete new-protozoa automation package
  .deployment-info
  .env-setup-complete
  scripts/18a-SetupLoggingService.ps1
Due: pwsh -Command 'Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer '

🚀 Initial commit: Complete new-protozoa automation package
  .deployment-info
  .env-setup-complete
  scripts/18a-SetupLoggingService.ps1
  src/shared/lib/logger.ts_backup_20250618_081833
Due: pwsh -Command 'Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer '

🚀 Initial commit: Complete new-protozoa automation package
  .deployment-info
  .env-setup-complete
  OVERSIZE_FILES_REPORT.md
  fix-syntax-errors.ps1
  package.json
  pnpm-lock.yaml
  scripts/10-GenerateParticleInitService.ps1
  scripts/15-ValidateSetupComplete.ps1
  scripts/runAll.ps1
  scripts/utils.psm1
  src/domains/formation/data/formationGeometry.ts
  src/domains/formation/data/formationPatterns.ts
  src/domains/formation/services/FormationService.ts
  src/domains/formation/types/IFormationService.ts
  src/shared/lib/logger.ts_backup_20250618_082113
Due: eslint --fix, prettier --write, pwsh -Command 'Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer '

🚀 Initial commit: Complete new-protozoa automation package
  .deployment-info
  .env-setup-complete
  fix-backticks-advanced.ps1
  package-lock.json
  scripts/utils.psm1
  src/shared/lib/logger.ts_backup_20250618_082554
Due: prettier --write, pwsh -Command 'Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer '

🚀 Initial commit: Complete new-protozoa automation package
  .deployment-info
  .env-setup-complete
  OVERSIZE_FILES_REPORT.md
  src/domains/formation/data/formationGeometry.ts
  src/domains/formation/data/formationPatterns.ts
  src/domains/formation/services/FormationService.ts
  src/domains/formation/types/IFormationService.ts
  src/shared/config/envUtils.ts
  src/shared/config/environmentService.ts
  src/shared/config/index.ts
  src/shared/lib/logger.ts_backup_20250618_081833
  src/shared/lib/logger.ts_backup_20250618_082113
  src/shared/lib/logger.ts_backup_20250618_082554
  src/shared/types/configTypes.ts
  src/shared/types/entityTypes.ts
  src/shared/types/eventTypes.ts
  src/shared/types/loggingTypes.ts
  src/shared/types/vectorTypes.ts
Due: eslint --fix, prettier --write

🚀 Initial commit: Complete new-protozoa automation package
  .deployment-info
  .env-setup-complete
  OVERSIZE_FILES_REPORT.md
  scripts/utils.psm1
  src/domains/formation/data/formationGeometry.ts
  src/domains/formation/data/formationPatterns.ts
  src/domains/formation/services/FormationService.ts
  src/domains/formation/types/IFormationService.ts
  src/shared/config/envUtils.ts
  src/shared/config/environmentService.ts
  src/shared/config/index.ts
  src/shared/lib/logger.ts_backup_20250618_085926
  src/shared/types/configTypes.ts
  src/shared/types/entityTypes.ts
  src/shared/types/eventTypes.ts
  src/shared/types/loggingTypes.ts
  src/shared/types/vectorTypes.ts
Due: eslint --fix, prettier --write

🚀 Initial commit: Complete new-protozoa automation package
  .deployment-info
  .env-setup-complete
  OVERSIZE_FILES_REPORT.md
  src/domains/formation/data/formationGeometry.ts
  src/domains/formation/data/formationPatterns.ts
  src/domains/formation/services/FormationService.ts
  src/domains/formation/types/IFormationService.ts
  src/shared/config/envUtils.ts
  src/shared/config/environmentService.ts
  src/shared/config/index.ts
  src/shared/lib/logger.ts_backup_20250618_085926
  src/shared/types/configTypes.ts
  src/shared/types/entityTypes.ts
  src/shared/types/eventTypes.ts
  src/shared/types/loggingTypes.ts
  src/shared/types/vectorTypes.ts
Due: eslint --fix, prettier --write

🚀 Initial commit: Complete new-protozoa automation package
  .deployment-info
  .env-setup-complete
  .env-setup-failed
  scripts/02-GenerateDomainStubs.ps1
  scripts/14-FixUtilityFunctions.ps1
  scripts/utils.psm1
Due: pwsh -Command 'Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer '

🚀 Initial commit: Complete new-protozoa automation package
  .deployment-info
  .env-setup-complete
  scripts/18a-SetupLoggingService.ps1
  src/shared/config/envUtils.ts
  src/shared/config/environmentService.ts
  src/shared/config/index.ts
  src/shared/types/configTypes.ts
  src/shared/types/entityTypes.ts
  src/shared/types/eventTypes.ts
  src/shared/types/loggingTypes.ts
  src/shared/types/vectorTypes.ts
Due: eslint --fix, prettier --write, pwsh -Command 'Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer '

🚀 Initial commit: Complete new-protozoa automation package
  .deployment-info
  .env-setup-complete
  scripts/18-GenerateFormationDomain.ps1
  src/shared/lib/logger.ts.backup-20250618-093343
Due: pwsh -Command 'Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer '

🚀 Initial commit: Complete new-protozoa automation package
  .deployment-info
  .dockerignore
  .env-setup-complete
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/docker-publish.yml
  .github/workflows/release.yml
  Dockerfile
  cleanup-for-automation-suite.ps1
  package.json
  pnpm-lock.yaml
  scripts/15-ValidateSetupComplete.ps1
  scripts/18b-SetupTestingFramework.ps1
  src/shared/config/envUtils.ts
  src/shared/config/environmentService.ts
  src/shared/config/index.ts
  src/shared/lib/logger.ts.backup-20250618-093343
  src/shared/types/configTypes.ts
  src/shared/types/entityTypes.ts
  src/shared/types/eventTypes.ts
  src/shared/types/loggingTypes.ts
  src/shared/types/vectorTypes.ts
  tsconfig.json
  vitest.config.ts
Due: eslint --fix, prettier --write, pwsh -Command 'Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer '

🚀 Initial commit: Complete new-protozoa automation package
  .deployment-info
  .env-setup-complete
  new_errors.md
  package-lock.json
  scripts/17-GenerateEnvironmentConfig.ps1
  scripts/18a-SetupLoggingService.ps1
  scripts/19-ConfigureAdvancedTypeScript.ps1
  scripts/23-GenerateRNGService.ps1
  scripts/26-GenerateBitcoinService.ps1
  scripts/27-GenerateTraitService.ps1
  scripts/30-EnhanceTraitSystem.ps1
  templates/shared/state/useParticleStore.ts.template
  templates/shared/state/useSimulationStore.ts.template
Due: prettier --write, pwsh -Command 'Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer '

🚀 Initial commit: Complete new-protozoa automation package
  .deployment-info
  .env-setup-complete
  OVERSIZE_FILES_REPORT.md
  scripts/26-GenerateBitcoinService.ps1
  src/config/bitcoin.config.ts
  src/config/rate-limiter.ts
  src/domains/formation/data/formationGeometry.ts
  src/domains/formation/data/formationPatterns.ts
  src/domains/formation/services/FormationService.ts
  src/domains/formation/types/IFormationService.ts
  src/domains/physics/index.ts
  src/domains/physics/interfaces/IPhysicsService.ts
  src/domains/physics/services/PhysicsService.ts
  src/domains/physics/services/workerManager.ts
  src/domains/physics/types/physics.types.ts
  src/domains/physics/workers/physicsWorker.js
  src/domains/physics/workers/physicsWorker.ts
  src/domains/rng/index.ts
  src/domains/rng/interfaces/IRNGService.ts
  src/domains/rng/services/RngService.ts
  src/domains/rng/types/rng.types.ts
  src/shared/config/envUtils.ts
  src/shared/config/environmentService.ts
  src/shared/config/index.ts
  src/shared/lib/logger.ts.backup-20250618-123415
  src/shared/types/configTypes.ts
  src/shared/types/entityTypes.ts
  src/shared/types/eventTypes.ts
  src/shared/types/loggingTypes.ts
  src/shared/types/vectorTypes.ts
  src/types/bitcoin-ordinals.d.ts
Due: eslint --fix, prettier --write, pwsh -Command 'Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer '

Refactor service generation with improved casing, types, and compatibility
  scripts/16-GenerateSharedTypesService.ps1
  scripts/18-GenerateFormationDomain.ps1
  scripts/18a-SetupLoggingService.ps1
  scripts/23-GenerateRNGService.ps1
  scripts/26-GenerateBitcoinService.ps1
  scripts/30-EnhanceTraitSystem.ps1
  scripts/35-GenerateRenderingService.ps1
  scripts/36-GenerateEffectService.ps1
  scripts/41-GenerateGroupService.ps1
Due: pwsh -Command 'Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer '

🚀 Initial commit: Complete new-protozoa automation package
  .deployment-info
  .env-setup-complete
  scripts/22-SetupBitcoinProtocol.ps1
  scripts/40-GenerateAnimationService.ps1
  scripts/44-SetupAnimationBlending.ps1
Due: pwsh -Command 'Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer '

Fix automation suite Priority 1 issues
  .deployment-info
  .eslintrc.json
  CONSOLIDATED-ERROR-MASTER-CHECKLIST.md
  new_errors2.md
  new_errors3.md
  scripts/02-GenerateDomainStubs.ps1
  scripts/16-GenerateSharedTypesService.ps1
  scripts/18-GenerateFormationDomain.ps1
  scripts/18a-SetupLoggingService.ps1
  scripts/24-GeneratePhysicsService.ps1
  scripts/26-GenerateBitcoinService.ps1
  src/domains/animation/services/AnimationService.ts
  src/domains/animation/types/index.ts
  src/domains/bitcoin/services/BitcoinService.ts
  src/domains/bitcoin/types/index.ts
  src/domains/effect/services/EffectService.ts
  src/domains/effect/types/index.ts
  src/domains/formation/services/FormationService.ts
  src/domains/formation/types/index.ts
  src/domains/group/services/GroupService.ts
  src/domains/group/types/index.ts
  src/domains/index.ts
  src/domains/particle/services/ParticleService.ts
  src/domains/particle/types/index.ts
  src/domains/physics/services/PhysicsService.ts
  src/domains/physics/types/index.ts
  src/domains/rendering/services/RenderingService.ts
  src/domains/rendering/types/index.ts
  src/domains/rng/services/RngService.ts
  src/domains/rng/types/index.ts
  src/domains/trait/services/TraitService.ts
  src/domains/trait/types/index.ts
  src/shared/config/environment.ts
  src/shared/lib/logger.ts
  src/shared/types/index.ts
  tsconfig.app.json
  tsconfig.json
Due: eslint --fix, prettier --write, pwsh -Command 'Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer '

🚀 Initial commit: Complete new-protozoa automation package
  .env-setup-complete
  .eslintrc.json
  src/domains/animation/index.ts
  src/domains/animation/services/AnimationService.ts
  src/domains/animation/types/index.ts
  src/domains/bitcoin/index.ts
  src/domains/bitcoin/services/BitcoinService.ts
  src/domains/bitcoin/types/index.ts
  src/domains/effect/index.ts
  src/domains/effect/services/EffectService.ts
  src/domains/effect/types/index.ts
  src/domains/formation/index.ts
  src/domains/formation/services/FormationService.ts
  src/domains/formation/types/index.ts
  src/domains/group/index.ts
  src/domains/group/services/GroupService.ts
  src/domains/group/types/index.ts
  src/domains/index.ts
  src/domains/particle/index.ts
  src/domains/particle/services/ParticleService.ts
  src/domains/particle/types/index.ts
  src/domains/physics/index.ts
  src/domains/physics/services/PhysicsService.ts
  src/domains/physics/types/index.ts
  src/domains/rendering/index.ts
  src/domains/rendering/services/RenderingService.ts
  src/domains/rendering/types/index.ts
  src/domains/rng/index.ts
  src/domains/rng/services/RngService.ts
  src/domains/rng/types/index.ts
  src/domains/trait/index.ts
  src/domains/trait/services/TraitService.ts
  src/domains/trait/types/index.ts
  src/shared/config/environment.ts
  src/shared/lib/logger.ts
  src/shared/types/index.ts
Due: eslint --fix, prettier --write

Implement FormationService with pattern registration and blending
  src/domains/formation/services/FormationService.ts
Due: eslint --fix, prettier --write

Fix pattern blending with null key and type safety improvements
  src/domains/formation/services/FormationService.ts
Due: eslint --fix, prettier --write

Fix potential undefined weight in formation service cache key generation
  src/domains/formation/services/FormationService.ts
Due: eslint --fix, prettier --write

🚀 Initial commit: Complete new-protozoa automation package
  .deployment-info
  .env-setup-complete
  scripts/02-GenerateDomainStubs.ps1
  scripts/16-GenerateSharedTypesService.ps1
  scripts/18-GenerateFormationDomain.ps1
  scripts/22-SetupBitcoinProtocol.ps1
  scripts/26-GenerateBitcoinService.ps1
  scripts/29-SetupDataValidationLayer.ps1
  scripts/36-GenerateEffectService.ps1
  scripts/40-GenerateAnimationService.ps1
  scripts/44-SetupAnimationBlending.ps1
  src/domains/animation/types/index.ts
  templates/domains/animation/services/physicsAnimationService.ts.template
  templates/domains/animation/services/timelineService.ts.template
  templates/domains/effect/services/effectComposerService.ts.template
  templates/domains/effect/services/effectService.ts.template
  templates/domains/formation/services/dynamicFormationGenerator.ts.template
  tsconfig.app.json
  tsconfig.json
Due: eslint --fix, prettier --write, pwsh -Command 'Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer '

🚀 Initial commit: Complete new-protozoa automation package
  .deployment-info
  .env-setup-complete
  .env-setup-failed
  environment-dependencies.json
  index.html
  package.json
  pnpm-lock.yaml
  scripts/00-InitEnvironment.ps1
  scripts/00a-InstallDependenciesWithProgress.ps1
  scripts/07-BuildAndTest.ps1
  scripts/15-ValidateSetupComplete.ps1
  scripts/18-GenerateFormationDomain.ps1
  scripts/41-GenerateGroupService.ps1
  scripts/41a-CompleteGroupInterface.ps1
  scripts/41b-GenerateGroupServiceImpl.ps1
  scripts/41c-CompleteGroupServiceMethods.ps1
  scripts/41d-FinalizeGroupService.ps1
  scripts/complete-group-service.ps1
  scripts/create-complete-group-service.ps1
  scripts/finalize-group-service.ps1
  scripts/generate-group-service-impl.ps1
  scripts/generate-group-service-simple.ps1
  scripts/install-with-progress.ps1
  scripts/utils.psm1
  vite.config.ts
Due: eslint --fix, prettier --write, pwsh -Command 'Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer '

🚀 Initial commit: Complete new-protozoa automation package
  .deployment-info
  .env-setup-complete
  package.json
  scripts/20-SetupPreCommitValidation.ps1
Due: prettier --write, pwsh -Command 'Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer '

🚀 Initial commit: Complete new-protozoa automation package
  .deployment-info
  .env-setup-complete
  environment-dependencies.json
  package.json
  scripts/41-GenerateGroupService.ps1
  scripts/41d-FinalizeGroupService.ps1
  scripts/complete-group-service.ps1
  scripts/create-complete-group-service.ps1
  scripts/finalize-group-service.ps1
  scripts/generate-group-service-impl.ps1
  scripts/generate-group-service-simple.ps1
Due: prettier --write, pwsh -Command 'Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer '
